<p id="notice"><%= notice %></p>

<p>
  <strong>Counter:</strong>
  <%= @search_count.counter %>
</p>

<%= link_to 'Edit', edit_search_count_path(@search_count) %> |
<%= link_to 'Back', search_counts_path %>
